<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom stylesheet -->
    <link rel='stylesheet' href='stylesheets/dist/style.css'>
    <!-- CSP Policy -->

    <title>Shul Finder</title>
</head>
<body>
    <!-- Begin Header -->
    <header class='sticky-top'>
        <!-- Navigation links -->
        <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
            <a class='navbar-brand' href='#'>ShulFinder</a>
            <ul class='navbar-nav mr-auto'>
                <li class='nav-item'>
                    <a href='/'>List</a>
                </li>
                <li class='nav-item'>
                    <a href='/map'>Map</a>
                </li>
                <li class='nav-item'>
                    <a href='/about'>About</a>
                </li>
            </ul>

            <!-- Search Bar -->
            <form id='search-form' class='form-inline'>
                <label class='navbar-text'>Search</label><br />
                <input type='text' class='navbar-light' name='search-box' id='search-box' aria-label='Search' placeholder='Name, City or State' />
                <button type='submit' class='btn btn-outline-success'>Search</button>
            </form>

            <!-- Options modal --> 
            <button id='filters-toggle-btn' type='button' class='btn btn-outline-secondary' data-toggle='modal' data-target='#filters-menu'>Filters</button>
        </nav>
    </header>

    <div class='modal' id='filters-menu' tabindex='-1' aria-labelledby='filtersMenuLabel' aria-hidden='true'>
        <div class='modal-dialogue'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='filtersMenuLabel'>Filters</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close' id='close-filters-menu'>
                        <span aria-hidden="true">Close &times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <!-- Movements filter -->
                    <form id='filters'>

                        
                        
                    </form>
                </div>
            </div>
        </div>
    </div>


