{{>header}}
    <!-- About body -->
    <div id='about-container'>
        <h5>Application under development!</h5>
        <p>
            Feel free to contribute: <a href='https://github.com/mishyjari/shul-finder'>Github</a>
        </p>
    </div>
{{>footer}}