<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ShulFinder</h1>
    <form id='search-form'>
        <label>Search by city</label>
        <input type='text' name='search-box' />
        <button type='submit'>Search</button>
    </form>
    <div id='search-results-container'>
        <ul id='search-results-list'
    </div>
    <script src='js/search.js'></script>
</body>
</html>