$bgDark: #001b31;
$bgLight: #eeedfa;
$fgLight: rgb(223, 223, 223);
$fgDark: rgb(59, 59, 59);

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

body {
    @include flexCenter();
    background: $bgLight;
    width: 100vw;
    height: 100vh;
    color: $fgDark;
}

footer {
    width: 100vw;
    align-self: flex-end;
    color: $fgLight;
}

.navbar {
    a, input, button {
        color: hsl(0, 0%, 72%);
        margin-left: .5rem;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

#close-filters-menu {
    color: $fgLight;
    opacity: 1;
}

#results-options {
    width: 100%;
    display: flex;
    justify-content: center;
    #results-per-page {
        margin-left: .5rem;
        font-size: .8rem;
        padding: .2rem;
    }
}
#search-box {
    border-radius: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: $fgDark;
}

#filters-toggle-btn {
    border-radius: 1rem;
}

#results-info, #map-container, #about-container{
    padding-top: 1rem;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
    #reset-search {
        height: 100%;
        padding-bottom: .2rem;
    }
}

.remove-button {
    color: red;
    &:hover {
        cursor: pointer;
        font-weight: bolder;
        text-shadow: 1 1 2 $bgDark;
    }
}

.filter-tab {
    background-color: #fff;
    border: 1px solid $fgDark;
    border-radius: .2rem;
    margin-left: .5rem;
    padding-left: .3rem;
    padding-right: .3rem;
    &:hover {
        box-shadow: 1px 1px 2px $bgDark;
        cursor: pointer;
    }
}

#selected-filters {
    width: 100vw;
    display: flex;
    justify-content: center;
}
#load-more {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

#search-results-list {
    align-self: center;
    width: 90vw;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr))
}

div {
    .card {
        margin: .5rem;
        box-shadow: 2px 2px 4px rgb(131, 131, 131);
        &:hover {
            background-color: #f4f7ff;
        };
    }
}
.modal .modal-dialogue .modal-content {
    opacity: .8;
    background-color: $bgDark;
    color: $fgLight;
    position: fixed;
    right: 0;
    width: 30rem;
    height: 100vh;
}