// Colors
$bg-dark: #333;
$bg-light: #ddd;

$fg-dark: #333;
$fg-light: #ddd;

$header-bg: #333;

$nav-item: #fafafa;
$nav-hover: #aaa;
$nav-active: #bbb;

$main-bg: #fafafa;

$shadow-dark: #333;
$shadow-medium: #9a9a9a;
$shadow-light: #ddd;

$form-bg: #ddd;

$btn-primary-bg: #dadcdc;
$btn-primary-fg: #333;