// @import "../../node_modules/bootstrap/scss/bootstrap";
@import './mixins';
@import './variables';
@import './header';
@import './mixins';


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $bg-light;
    color: $fg-dark;
}

.App {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    main {
        height: 80vh;
        flex-grow: 2;
        margin: 2em;
        padding: 1em;
        border-radius: 1em;
        background-color: $main-bg;
        box-shadow: inset 1px 2px 6px $shadow-medium;

    }
}

#map-container {
    height: 100%;

}

.synagogue-annotation {
    width: 1rem;
    height: 1rem;
    border-radius: 2rem;
}

#accordion-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#map-fluid {
    border-radius: 1em;
    margin-left: .25em;
    flex-grow: 5;
    height: 100%;
}

#list-fluid {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    transition: all 200ms ease-in-out 50ms;
    z-index: 999;
    align-items: center;
    box-shadow: inset 0 2px 4px $bg-light;
}

#toggle-btn {
    width: 80%;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 1em;
    font-size: 1em;
    background-color: $bg-dark;
    color: $fg-light;
    border-radius: 1.5em;

    &:hover {
        cursor: pointer;
        font-weight: bold;
        box-shadow: 2px 2px 4px $fg-light;
    }
}

.expand {
    width: 20vw;
}

.collapse {
    width: 3em;

    div {
        display: none;
    }
}

.synagogue-list-item {
    width: 80%;
    background-color: $fg-light;
    color: $fg-dark;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: .5em;
    border: 1px solid $fg-dark;
    border-radius: 1em;
    text-align: center;

    &:hover {
        box-shadow: inset 2px 2px 4px $fg-dark;
        cursor: pointer;
    }

    h5,
    h6,
    em {
        margin: .5em;
    }

}

.mk-map-view {
    border-radius: 1.5em;
    border: 1px solid $bg-dark;
}